<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>this is home page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body class="bg-success-subtle">
<div class="container-fluid" >
    <div class="row justify-content-center lg align-item s-center " style="height: 99vh;">
        <div class="col-9 row justify-content-center lg align-items-center">
            <div class="row row justify-content-center lg align-items-center ">
             <div class="col-5 p-2 " >
                <div class="bg-white p-4 rounded-3">
                
                <!--  <div :if="$(session.context)" class="container-fluid">
                <div th:classappend="${'alert-'+session.message.type}" class="alert alert-danger my-2 text-center" role="alert" >
                <span th:text="${session.message}"></span>
                </div>
                <th:bolck th:text="${#session.removeAttribute('message')}"></th:bolck>  -->
                    <div class="text-center fs-4 mb-2" Style="Color:green"><h4>Please Enter Registered Email</h4></div>
                    <form action="" th:action="Send_Otp" Method="Post">

                <INPUT required="required" name="email" TYPE ="email" class="form-control  mb-3 p-2" placeholder="Username"/>
                <button class="btn btn-warning  w-100">Send OTP</button>
                <div class="text-center text-primary mt-2 ">
                    <a href="login"> Sign In </a>
                </div>
            
          
        </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div></body>
        </html>